@import 'mixins';

.map-wrapper {
	@include flex(20px);

 .map-header {
	@include flex(10px);
 }

 .map {
	@include flex(0px, row, center, center);
	@extend %element-shadow;

	width: 94vw;
	height: 84vh;
	background-color: var(--element);
	border-radius: $corner;
 }
}

.loader {
	animation: rotate 1s infinite;
}

@keyframes rotate {
	0%{
		transform: rotate(0);
	}

	100%{
		transform: rotate(360deg);
	}
}